html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#container {
  min-height: 100%;
  position: relative;
}

#header {
  background: #F0FFFE;
  padding: 10px;
}

#main {
  padding: 10px;
  padding-bottom: 60px; /*footer height*/
}

#footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 60px; /*footer height*/
  background: #DAEDEB;
}

.shape {
  background: #12C22F;
  height: 50vw;
  gwidth: 50vw;
  border-radius: 50px;
  border: 10px bold #12C29F;
  padding: 10vw;
  margin: 10vw;
}
